{% extends 'base.html' %}

{% block title %}Personalized Zoom Link{% endblock %}

{% block content %}
<h1>Personalized Zoom Link</h1>
<p>Follow the steps below to retrieve your Zoom Personal Meeting Room URL:</p>

<ol>
    <li>Log in to your Zoom account.</li>
    <li>In Settings, go to Meetings on the left of the page.</li>
    <li>Under the "Personal Room" section, copy the Invite Link.</li>
    <li>Enter your first name in the Name field.</li>
    <li>Paste the Link in the Link field.</li>
    <li>Press Submit!</li>
</ol>

<form action="{{ url_for('create_redirect') }}" method="post">
    <label for="name">First Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="url">Zoom Personal Room Link:</label>
    <input type="url" id="url" name="url" required>
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}
